:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(255 255 255 / 87%);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
  text-decoration: underline;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

#root {
  max-width: 1280px;
  padding: 2rem;
  margin: 0 auto;
}
